# IDE
.vscode/
.idea/

# Logs
*.log

# Node (if ever used)
node_modules/

# OS
.DS_Store
Thumbs.db

# Project backups
backup/

# Python cache
.pytest_cache/
.mypy_cache/
__pycache__/
*.pyc
*.pyo

# Runtime cache
data/cache/

# Secrets
.env

# Temp
*.tmp
*.swp

# Virtual environments
venv/
.env/